<div *ngIf="user">
    <h2>{{user.name}} Details</h2>
    <div><span>Work: </span>{{user.work}}</div>
    <div><span>Address: </span>{{user.address}}</div>
    <div><span>Phone Number: </span>{{user.phoneNumber}}</div>
    <div><span>Gender: </span>{{user.gender}}</div>
    <div *ngIf="user.work == 'Grower'; else elseBlock">
        <div><span>Batches Handled: </span>{{user.batches}}</div>
        <div><span>Yield Acquired: </span>{{user.yield}}</div>
        <div><span>Greenhouse Locations: 
            <ul>
                <li *ngFor="let greenhouse of user.greenhouses">
                  {{ greenhouse }}
                </li>
              </ul>
        </span>
        </div>
    </div>
    <ng-template #elseBlock>
        <div><span>Years of Experience: </span>{{user.experience}}</div>
        <div><span>Educational Qualification: </span>{{user.education}}</div>
        <div><span>Inventory Management Certification: </span>{{user.certification}}</div>
    </ng-template>
</div>
<button (click)="goBack()">back</button>
