
<h2>Users</h2>
<ul class="users">
    <li *ngFor="let user of users" >
        <a routerLink="/detail/{{user.id}}">
            <span>{{user.name}}</span> Phone Number: {{user.phoneNumber}} Worker Type: {{user.work}}
        </a>
    </li>
</ul>
<div>
    <label>Add User:
    </label>
    <div>
        <label>User Type:
            <select matNativeControl  [(ngModel)]="userType">
                <option value='Grower'>Grower</option>
                <option value="WarehouseEmployee">Warehouse Employee</option>
            </select>
        </label>
    </div>
    <div>
        <label>Name:
            <input #userName />
        </label>
    </div>
    <div>
        <label>Phone Number:
            <input #phoneNumber />
        </label>
    </div>
    <div>
        <label>Address:
            <input #address />
        </label>
    </div>
    <div>
        <label>Gender:
            <select matNativeControl [(ngModel)]="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>
        </label>
    </div>
    <div *ngIf="userType === 'Grower'; else elseBlock">
        <div>
            <label>Batches Handled:
                <input #batches />
            </label>
        </div>
        <div>
            <label>Yield Acquired (Kg):
                <input #yield />
            </label>
        </div>
        <div>
            <label>Greenhouse Locations: 
                <select matNativeControl [(ngModel)]="greenhouses" multiple>
                    <option value="Toronto">Toronto</option>
                    <option value="Burlington">Burlington</option>
                    <option value="Guelph">Guelph</option>
                    <option value="Kitchener">Kitchener</option>
                    <option value="Hamilton">Hamilton</option>
                    <option value="Cambridge">Cambridge</option>
                </select>
            </label>
        </div>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="addGrower(userName.value, phoneNumber.value, address.value, gender, batches.value, yield.value, greenhouses); userName.value=''">
        add
        </button>
    </div>
    <ng-template #elseBlock>
        <div>
            <label>Years of Experience:
                <input #experience />
            </label>
        </div>
        <div>
            <label>Educational Qualification:
                <input #education />
            </label>
        </div>
        <div>
            <label>Inventory Management Certfication:
                <!-- NEEDS TO BE A DROPDOWN-->
                <input #certification />
            </label>
        </div>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="addWHEmployee(userName.value, phoneNumber.value, address.value, gender, experience.value, education.value, certification.value); userName.value=''">
        add
        </button>
    </ng-template>
  </div>
  
  