.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 50em;
  }
  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.1em;
    border-radius: 4px;
  }
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }